# yarn files
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# gatsby files
.cache/
public
src/gatsby-types.d.ts

# dotenv environment variables file
.env.*
!.env.example
